$primary: #93827f;

body{
	background-color: #92b4a7;
}

h2 {
	color: $primary;
}

.content{
	padding: 20px;
}

.treeNodes{
	min-height: 200px;
	max-height: 500px;
	overflow-x: auto;
	background-color: #f3f9d2;
	border-radius: 5px;
	border: 2px solid #f3f9d2;
	box-shadow: inset 0 0 1px #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
}

.treeNodePanel{
	margin-bottom: 20px;
}

.treeNodeForm{
	margin-top: 20px;
	border: 1px solid #000000;
	padding: 15px;
	border-radius: 10px;
	background-color: #bdc4a7;
}

.form-control:focus{
	border: 1px solid #ccc;
	box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.errorMessage{
	color: #a94442;
}

.header-label{
	font-size: 16pt;
}

.label-default{
	background-color: transparent;
	color: #000000;
	font-size: 12pt;
	padding-left: 0px;
	padding-right: 0px;
}

.connection-box{
	background-color: #ffffff;
	border-radius: 5px;
	margin-bottom: 15px;
}

.connected{
	color: #2eb807;
}

.not-connected{
	color: #a94442;
}

.help-block{
	color: #2d2c2c;
}

.panel-heading{
	background-color: #2f2f2f !important;
	color: #f3f9d2 !important;
	font-weight: 700;
	font-size: 14px;
}

.panel-body{
	background-color: #bdc4a7;
	word-wrap: break-word;
	overflow-x: auto;
	height:150px;
}

.panel-body .label-default{
	font-size: 10pt;
}

.padding-left-0{
	padding-left: 0px;
}

.padding-right-0{
	padding-right: 0px;
}

.margin-left-0{
	margin-left: 0px;
}

.margin-right-0{
	margin-left: 0px;
}
